//sidebar
// $menuBg:#035D84;
// $subMenuBg:#0e516f;
// $menuHover:#094a68;
// $menuFold:#0d79a9;
// $topHeight:56px;
// $sidebar:200px;
// $sidebarMini:64px;
$menuBg:#273345;
$subMenuBg:#152132;
$menuHover:#101821;
$topHeight:56px;
$sidebar:200px;
$sidebarMini:64px;
